pip install Flask==0.9
pip install Flask-Admin==1.0.3
pip install Flask-SQLAlchemy==0.16
pip install Flask-WTF==0.8
pip install Jinja2==2.6
pip install MySQL-python==1.2.3
pip install PyYAML==3.10
pip install SQLAlchemy==0.7.9
pip install WTForms==1.0.2
pip install Werkzeug==0.8.3
pip install argparse==1.2.1
pip install httplib2==0.7.5
pip install ipython==0.13.1
pip install mock==1.0b1
pip install networkx==1.7
pip install ordereddict==1.1
pip install pika==0.9.6-pre5
pip install piped==0.5.0
pip install piped.contrib.zookeeper==0.5.0
pip install pyOpenSSL==0.13
pip install python-ldap==2.4.10
pip install python-memcached==1.48
pip install thrift==0.8.0
pip install txzookeeper==0.9.7
pip install uWSGI==1.2.6
pip install zc-zookeeper-static==3.4.4
pip install zc.thread==0.1.0
pip install zc.zk==1.0.0
pip install zope.interface==4.0.1
pip install celery
pip install celery-with-redis
pip install msgpack-python
pip install xmlrpclib
pip install misaka==1.0.2
pip install pygments
pip install sh
pip install requests
pip install gunicorn
